@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #eee;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: #0f0f0f;
    color: #ccc;
    letter-spacing: 0;
    cursor: default;
    overflow-x: hidden;
}

a {
    color: var(--text-color);
}

.header {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.main {
    padding: 20px;
    color: var(--text-color);
}

.main-title {
    margin-top: auto;
    margin-bottom: auto;
}

.d-flex {
    display: flex;
}

.icon {
    height: 100%;
    padding: 20px;
}

.icon.disabled {
    display: none;
}

.icon.clickable:hover {
    background-color: #333;
    cursor: pointer;
}

.icon.clickable.red:hover {
    background-color: #c00;
    cursor: pointer;
}

.icon.clickable.help {
    position: relative;
}

.command-input {
    display: flex;
}

.command-input-wrapper {
    margin-top: 1rem;
    display: flex;
}

.blinking {
    font-weight: 900;
    font-size: 2rem;
    animation: 1s blink step-end infinite;
    position: relative;
    top: -1rem;
}

.selected-character {
    position: relative;
    animation-duration: 1s;
}

.selected-character::after {
    content: "";
    display: block;
    position: absolute;
    top: 1rem;
    width: 0.5rem;
    height: 0.3rem;
    background-color: var(--text-color);
    animation: 1s blink step-end infinite;
    animation-duration: inherit;
}


.help-wrapper {
    position: relative;
    width: 64px;
    height: 64px;
}


.clippy {
    transform: skew(30deg, 60deg);
    transition: all ease-in-out 1s;
    width: 150px;
    height: 150px;
}


.clippy.active {
    transform: skew(0);
}


.speech-bubble {
    position: absolute;
    background-color: #fff;
    left: -100%;
    top: 50%;
    border-radius: 10px;
    width: 100%;
    color: #000;
    padding: 5px;
}

.speech-bubble::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #fff;
    top: 10px;
    right: -10px;
    width: 20px;
    height: 20px;
    z-index: 5;
    transform: rotate(45deg);
}


.clippy-image {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    height: auto;
}


.hidden-input {
    width: 0;
    border: 0;
    cursor: default;
}


@keyframes testname {
    from, 
    to {
        background-color: var(--text-color);
    }
    50% {        
        background-color: transparent;
    }
}

@keyframes blink {
    from, 
    to {
        background-color: var(--text-color);
    }
    50% {
        background-color: transparent;
    }
}
